
#pass__gen{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    margin: auto;
    overflow:hidden;
}
.container {
    position: relative;
    top: 100px;
    width: 40%;
    height: 50%;
    border: 0;
    box-shadow: 2px 2px 3px 2px rgb(253, 14, 173);
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    background: linear-gradient(to bottom right, rgba(70, 131, 180, 0.567),rgba(255, 112, 112, 0.228),rgba(255, 112, 112, 0.228), rgba(173, 216, 230, 0.528));
}
.header__title {
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header__title:hover{
    color: red;
}
span{
    color: gold;
    text-shadow: 2px 2px 4px #333;
}
.tips{
    color: rgba(255, 255, 0, 0.558);
    font-weight: 500;
    font-size: 10px;
    text-align: center;
}
.tip{
    color: rgba(34, 255, 0, 0.459);
}
.logo{
    width: 20%;
    cursor: pointer;
}
#password {
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: 0;
    padding: 5px

}
select {
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: 0;
    padding: 5px
}
button{
    height: 40px;
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background: rgb(231, 34, 34);
    outline: 0;
    border: 0;
    font-weight: 500;
    cursor:pointer;
    box-shadow: 2px 2px 2px 1px rgba(57, 44, 44, 0.509);
    transition: background 10.5s ease; 
}
button:hover{
    background: rgb(182, 6, 6);
    box-shadow: 2px 2px 2px 1px rgba(57, 44, 44, 0.509);
    filter: brightness(150%);
}

p{
    color: white;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Media query for small screens (e.g., smartphones) */
@media screen and (min-width: 301px) and (max-width: 701px) {
    body {
      font-size: 14px;
    }
    h1{
        font-size: 20px;
    }
    .pass__gen{
        position: relative;
        width: 100%;
        height: 90vh;
        text-align: center;
        justify-content: center;
        margin: auto;
        overflow:hidden;
    }
    .container {
        width: 95%;
        height: 60%;
        border: 1px solid purple;
        box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.441);
        text-align: center;
        justify-content: center;
        margin: auto;
        border-radius: 20px;
        background: linear-gradient(to bottom right, rgba(70, 131, 180, 0.567),rgba(255, 112, 112, 0.228),rgba(255, 112, 112, 0.228), rgba(173, 216, 230, 0.528));
    }
    .logo{
        width: 35%;
    }
    #password {
        width: 70%;
        height: 25px;
        border-radius: 10px;
        border: 1px solid grey;
        outline: 0;
        padding: 5px
    
    }
    select {
        height: 35px;
        border-radius: 10px;
        border: 1px solid grey;
        outline: 0;
        padding: 5px
    }
    button{
        height: 35px;
        width: 40%;
        border-radius: 10px;
        padding: 5px;
        color: white;
        background: rgb(231, 34, 34);
        outline: 0;
        border: 0;
        font-weight: 500;
        font-size: 12px;
        cursor:pointer;
        box-shadow: 2px 2px 2px 1px rgba(57, 44, 44, 0.509);
    }
  }